*.o
*.d
*.exe
build

*/.vs/*
*.opensdf
*.sdf
VisualStudio/Debug
VisualStudio/filesync/Debug
VisualStudio/Release
VisualStudio/filesync/Release
MonoDevelop/FileSync/bin
*.user
/filesync.exe
/filesync
VisualStudio/filesync/x64/*
*.pdb
*.ilk
*.VC.db
*.VC.opendb
tests/tmp/*
.vs
